.carousel-item{
    height: 500px;
}
nav, footer{
    font-family: 'Pacifico', cursive;
}
.contact, .about, .info{
    border-left: 1px solid rgb(0, 0, 0);
    background: rgba(255, 136, 0, 0.5);
    padding: 1.5rem;
    margin-top: 1.5rem;
}
html{
    background-color: rgb(255, 216, 132);
}
.higra{
    background: rgba(255, 115, 0, 0.397);
}
.chyka{
    background: rgb(255, 136, 0);
}
.tyshka{
    font-family: 'Amatic SC', cursive;
    color: rgb(0, 0, 0);
    background-color:rgb(255, 136, 0);
    margin-top: 1rem;
}
.menuxa{
    background: rgb(255, 136, 0);
}
@media only screen and (min-width: 668px){
    .carousel-item{
        max-height: 400px;
        background-position: center center;
    }
}
.kyzia{
    font-family: 'Comfortaa', cursive;
}
.yyy{
background-color: rgba(255, 136, 0, 0.527);
}
.aaa{
background-color: rgba(253, 234, 122, 0.562);
}